body {
background: black;
color: white;
font-family: Arial;
text-align: center;
}

canvas {
border: 2px solid #444;
margin: 20px auto;
display: block;
}

#popup {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: #111;
padding: 20px;
border: 1px solid #555;
}

.hidden {
display: none;
}

input, textarea {
width: 100%;
margin: 5px 0;
}

button {
margin-top: 10px;
}

.terms-box {
font-size: 13px;
margin-top: 10px;
}