body {
background: #ffffff;
color: #000;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

h1 {
margin-top: 20px;
font-size: 42px;
}

h2 {
font-size: 18px;
font-weight: normal;
}

.subtitle {
margin-bottom: 20px;
font-size: 14px;
}

#grid {
width: 2000px;
height: 1000px;
margin: 0 auto;
display: grid;
grid-template-columns: repeat(200, 10px);
grid-template-rows: repeat(100, 10px);
border: 1px solid #000;
}

.block {
width: 10px;
height: 10px;
border: 1px solid #ddd; /* default */
box-sizing: border-box;
cursor: pointer;
transition: border 0.1s;
}

.block img {
width: 10px;
height: 10px;
display: block;
}

.block.selected {
border: 2px solid orange; /* bordo arancione per selezione */
}

.footer {
margin-top: 30px;
font-size: 12px;
}